.jumbotron  {
	opacity: 0.8;
	margin-bottom:1em;
	min-height: 5em;
}

/* longer generated messages might need smaller font size */
#metaphorical {
	font-size:4vw;
}

#footer {
	position:absolute;
	bottom:0;
	left: 0;
	color:#fff;
	font-size: 0.8em;
	line-height:1.1;
}	

#footer a {
	color:#fff;
}
.backstretch {
	filter: brightness(40%);
}

#birdcage {
	font-size: initial;
}

#birdcage .btn {
	margin-left: 0.5em;
	margin-right: 0.5em;
}	
